<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".email.EmailActivity"
            android:exported="false"
            android:label="@string/title_activity_email"
            android:theme="@style/Theme.TIKIClientLibrary" />
        <activity
            android:name=".ui.UIActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".capture.CaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>
</manifest>