<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <offerUses-feature android:name="android.hardware.camera" android:required="false"/>
    <offerUses-permission android:name="android.permission.CAMERA"/>
    <offerUses-permission android:name="android.permission.INTERNET"/>

    <offerUses-permission android:name="android.permission.RECORD_AUDIO"/>
    <offerUses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <offerUses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <offerUses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <offerUses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <offerUses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <offerUses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <offerUses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <offerUses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <offerUses-permission android:name="android.permission.READ_CALENDAR"/>
    <offerUses-permission android:name="android.permission.READ_CONTACTS"/>
    <offerUses-permission android:name="android.permission.BODY_SENSORS"/>
    <offerUses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <offerUses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
